Source: dpdk
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd (>= 1.5),
               doxygen,
               graphviz,
               inkscape,
               libcap-dev,
               libpcap-dev,
               libxen-dev,
               libxenstore3.0,
               python,
               python-sphinx,
               texlive-fonts-recommended,
               texlive-latex-extra
Standards-Version: 3.9.6
Section: libs
Homepage: http://www.dpdk.org
Vcs-Original-Git: git://dpdk.org/dpdk
Vcs-Original-Browser: http://www.dpdk.org/browse/dpdk/refs/
Vcs-Git: https://git.launchpad.net/~ubuntu-server/dpdk
Vcs-Browser: https://code.launchpad.net/~ubuntu-server/dpdk/+git/dpdk

Package: dpdk
Section: admin
Architecture: amd64 i386
Homepage: http://www.dpdk.org
Depends: libdpdk-dev (= ${binary:Version}),
         lsb-base (>= 3.2-14),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Suggests: linux-image-generic
Description: Data Plane Development Kit (runtime)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime environment to run DPDK applications.

Package: dpdk-dev
Section: devel
Architecture: amd64 i386
Homepage: http://www.dpdk.org
Depends: libdpdk-dev (= ${binary:Version}), ${misc:Depends}
Description: Data Plane Development Kit (development files)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains examples and the upstream build environment. It is
 not strictly required in order to build external applications.

Package: dpdk-doc
Section: doc
Architecture: all
Homepage: http://dpdk.org/doc/guides/index.html
Depends: libjs-jquery, libjs-underscore, ${misc:Depends}
Description: Data Plane Development Kit (documentation)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the complete set of documentation and guides.

Package: libdpdk-dev
Section: libdevel
Architecture: amd64 i386
Multi-Arch: same
Homepage: http://www.dpdk.org
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libdpdk-libethdev3,
         libdpdk-librte-acl2,
         libdpdk-librte-cfgfile2,
         libdpdk-librte-cmdline2,
         libdpdk-librte-cryptodev1,
         libdpdk-librte-distributor1,
         libdpdk-librte-eal2,
         libdpdk-librte-hash2,
         libdpdk-librte-ip-frag1,
         libdpdk-librte-jobstats1,
         libdpdk-librte-kni2,
         libdpdk-librte-kvargs1,
         libdpdk-librte-lpm2,
         libdpdk-librte-mbuf2,
         libdpdk-librte-mempool1,
         libdpdk-librte-meter1,
         libdpdk-librte-pipeline3,
         libdpdk-librte-pmd-af-packet1,
         libdpdk-librte-pmd-bond1,
         libdpdk-librte-pmd-cxgbe1,
         libdpdk-librte-pmd-e10001,
         libdpdk-librte-pmd-ena1,
         libdpdk-librte-pmd-enic1,
         libdpdk-librte-pmd-fm10k1,
         libdpdk-librte-pmd-i40e1,
         libdpdk-librte-pmd-ixgbe1,
         libdpdk-librte-pmd-null-crypto1,
         libdpdk-librte-pmd-null1,
         libdpdk-librte-pmd-pcap1,
         libdpdk-librte-pmd-ring2,
         libdpdk-librte-pmd-vhost1,
         libdpdk-librte-pmd-virtio1,
         libdpdk-librte-pmd-vmxnet3-uio1,
         libdpdk-librte-pmd-xenvirt1,
         libdpdk-librte-port2,
         libdpdk-librte-power1,
         libdpdk-librte-reorder1,
         libdpdk-librte-ring1,
         libdpdk-librte-sched1,
         libdpdk-librte-table2,
         libdpdk-librte-timer1,
         libdpdk-librte-vhost2
Description: Data Plane Development Kit (basic development files)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the basic headers and library files required to
 build external applications which will also require at least SSE3 support
 when running.

Package: libdpdk-libethdev3
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__ethdev_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for libethdev3

Package: libdpdk-librte-acl2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__ethdev_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_acl2

Package: libdpdk-librte-cfgfile2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__cfgfile_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_cfgfile2

Package: libdpdk-librte-cmdline2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_cmdline2

Package: libdpdk-librte-cryptodev1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__cryptodev_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_cryptodev1

Package: libdpdk-librte-distributor1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__distributor_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_distributor1

Package: libdpdk-librte-eal2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__eal_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_eal2

Package: libdpdk-librte-hash2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__hash_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_hash2

Package: libdpdk-librte-ip-frag1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__ip__frag_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_ip_frag1

Package: libdpdk-librte-jobstats1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__jobstats_8h_source.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_jobstats1

Package: libdpdk-librte-kni2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__kni_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_kni2

Package: libdpdk-librte-kvargs1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__kvargs_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_kvargs1

Package: libdpdk-librte-lpm2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__lpm_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_lpm2

Package: libdpdk-librte-mbuf2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__mbuf_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_mbuf2

Package: libdpdk-librte-mempool1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__mempool_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_mempool1

Package: libdpdk-librte-meter1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__meter_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_meter1

Package: libdpdk-librte-pipeline3
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__pipeline_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pipeline3

Package: libdpdk-librte-pmd-af-packet1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/browse/dpdk/tree/drivers/net/af_packet
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_af_packet1

Package: libdpdk-librte-pmd-bond1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/prog_guide/link_bonding_poll_mode_drv_lib.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_bond1

Package: libdpdk-librte-pmd-cxgbe1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/cxgbe.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_cxgbe1

Package: libdpdk-librte-pmd-e10001
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/e1000em.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_e10001

Package: libdpdk-librte-pmd-ena1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/ena.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_ena1

Package: libdpdk-librte-pmd-enic1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/enic.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_enic1

Package: libdpdk-librte-pmd-fm10k1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/fm10k.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_fm10k1

Package: libdpdk-librte-pmd-i40e1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/i40e.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_i40e1

Package: libdpdk-librte-pmd-ixgbe1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/ixgbe.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_ixgbe1

Package: libdpdk-librte-pmd-null-crypto1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/cryptodevs/null.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_null_crypto1

Package: libdpdk-librte-pmd-null1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/browse/dpdk/tree/drivers/net/null
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_null1

Package: libdpdk-librte-pmd-pcap1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/pcap_ring.html#libpcap-based-pmd
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_pcap1

Package: libdpdk-librte-pmd-ring2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/pcap_ring.html#rings-based-pmd
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_ring2

Package: libdpdk-librte-pmd-vhost1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/vhost.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_vhost1

Package: libdpdk-librte-pmd-virtio1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/virtio.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_virtio1

Package: libdpdk-librte-pmd-vmxnet3-uio1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/nics/vmxnet3.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_vmxnet3_uio1

Package: libdpdk-librte-pmd-xenvirt1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/guides/xen/pkt_switch.html#xen-pmd-frontend-prerequisites
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_pmd_xenvirt1

Package: libdpdk-librte-port2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__port_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_port2

Package: libdpdk-librte-power1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__power_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_power1

Package: libdpdk-librte-reorder1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__reorder_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_reorder1

Package: libdpdk-librte-ring1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__ring_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_ring1

Package: libdpdk-librte-sched1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__sched_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_sched1

Package: libdpdk-librte-table2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__table_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_table2

Package: libdpdk-librte-timer1
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__timer_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_timer1

Package: libdpdk-librte-vhost2
Architecture: amd64 i386
Section: libs
Multi-Arch: same
Homepage: http://dpdk.org/doc/api/rte__virtio__net_8h.html
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libdpdk0
Description: Data Plane Development Kit (runtime libraries)
 DPDK is a set of libraries for fast packet processing. Applications run
 in user-space and communicate directly with dedicated network interfaces.
 This package contains the runtime libraries for librte_vhost2
